@font-face {
    font-family: 'myFont';
    src: url('../resources/fonts/icomoon.eot');
    src: url('../resources/fonts/icomoon.woff') format('woff'), url('../resources/fonts/icomoon.ttf') format('truetype'), url('../resources/fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class*='icon-']:before {
    display: inline-block;
    font-family: 'myFont';
    font-style: normal;
    font-weight: normal;
    font-size: 150%;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-fb:before {
    content: '\fb';
}
.fa-facebook-square:hover{
    color: rgb(10, 23, 92);
}

.icon-tw:before {
    content: '\ea96';
}

.fa-twitter-square:hover {
    color: rgb(0, 174, 255);
}

.icon-gp:before {
    content: '\ea89';
}

.fa-google:hover {
    color: rgb(245, 27, 27);
}

.icon-gh:before {
    content: '\eab0';
}

.fa-github:hover {
    color: rgb(65, 5, 65);
}
