* {
    box-sizing: border-box;
    font-family: "calibri";
    -webkit-font-smoothing: antialiased !important;
}

.myContainer {
    margin: 1%;
}

.header {
    border-bottom: #222 1px solid;
}

.img-title {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-t-1 {
    width: 10%;
    margin-left: 30%;
}

.img-t-2 {
    width: 10%;
    margin-left: 48%;
}

.img-thumbnail {
    width: 100%;
    height: 70px;
}

td {
    height: 130px;
    max-height: 130px;
}

.table td,
.table th {
    padding: 0px !important;
    padding-top: 20px !important;
}

.subtitle {
    text-align: center;
    color: #777;
    font-size: 12px;
}

.socials {
    position: relative;
    width: 440px;
    height: 48px;
    float: right;
}

.clear {
    clear: both;
}

.contenedor {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.productos {
    width: 20%;
    border-right: solid black 1px;
    padding: 0.5%;
}

.ct {
    padding: 1%;
    margin-top: 2%;
    text-align: center;
    color: #222;
}

.btnproductos {
    margin: 0.5%;
    width: 100%;
}

.tcol {
    font-size: 2em;
    color: rgb(189, 231, 110);
}

.filtrado {
    margin-top: 1%;
}

.ulPrecio {
    padding: 1%;
}

.productos h5 {
    margin: 1%;
}

li {
    list-style: none;
}

.ContItemBB,
.ContItem {
    width: 37%;
    border: solid 1px black;
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2), 1px 6px 20px 1px rgba(0, 0, 0, 0.19);
}

.item {
    text-align: center;
    width: 25%;
}

.contReg {
    width: 14%;
    margin-left: 5px;
    margin-top: 3px;
    border-left: solid black 1px;
    text-align: center;
}

.svg-inline--fa {
    margin-top: 5px;
    font-size: 2em;
    cursor: pointer;
    color: #222222;
    transform: scale(1.1)
}

.svg-inline--fa:hover {
    color: rgba(0, 89, 255, 0.782);
}

p {
    margin: 1%;
    padding: 1%;
}

@media screen and (max-width: 1030px) {
    .item {
        width: 40%;
    }
    .productos {
        width: 540px;
        margin: 0 auto;
    }
    .contReg {
        width: 30%;
    }
    .ContItem,
    .ContItemBB {
        width: 47%;
    }
    p input {
        margin-left: 130px;
    }
}

.footer {
    width: 100%;
    border: 1px solid #222;
    background-color: rgb(211, 211, 211);
}

.footer p {
    text-align: center;
    margin: 1%;
}

.footer p:hover {
    color: red;
}

@media screen and (max-width: 600px) {
    .item {
        width: 100%;
    }
    .productos {
        width: 340px;
    }
    .contReg {
        width: 30%;
    }
    .ContItem,
    .ContItemBB {
        width: 340px;
        margin: 0 auto;
    }
    .socials {
        float: none;
        margin: 0 auto;
        width: 240px;
        height: 85px;
    }
    #title {
        font-size: 1.5em;
    }
    .img-title {
        width: 150px;
    }
    p input {
        margin-left: 100px;
    }
}

#log {
    width: 60px;
    margin-top: 10px;
}

.current {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: rgba(168, 165, 165, 0.568);
    border: 1px solid #dee2e6;
}

#pagination-1>ul {
    display: flex;
}

#pagination-2>ul {
    display: flex;
}